<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
    <title>Домашняя библиотека</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation">
        <ul class="pagination mt-3">
          <li class="page-item {% if current_page==1 %} disabled{% endif %}">
            <a class="page-link" href="../pages/index{{ current_page - 1 }}.html">Назад</a>
          </li>
          {% for page_num in range(1, total_pages + 1) %}
            <li class="page-item {% if page_num==current_page %} active{% endif %}">
              <a class="page-link" href="../pages/index{{ page_num }}.html">{{ page_num }}</a>
            </li>
          {% endfor %}
          <li class="page-item {% if current_page==total_pages %} disabled{% endif %}">
            <a class="page-link" href="../pages/index{{ current_page + 1 }}.html">Вперед</a>
          </li>
        </ul>
      </nav>
      {% for pair_book_descriptions in book_descriptions_on_page_sorted %}
        <div class="row">
          {% for book_description in pair_book_descriptions %}
            <div class="col">
              <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="../{{ book_description.img_src|urlencode }}" class="card-img" alt="{{ book_description.book_title }} - {{ book_description.book_author}}">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{ book_description.book_title }}</h5>
                      <p class="card-text">{{ book_description.book_author}}</p>
                      <p>
                        {% for genre in book_description.book_genres %}
                          <span class="badge badge-light">{{ genre }}</span>
                        {% endfor %}
                      </p>
                      <a href="../{{ book_description.book_path|urlencode }}" target="_blank">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>      
          {% endfor %}
        </div>
      {% endfor %}    
    </div>      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../static/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/popper.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
  </body>
</html>